{% extends 'base.html' %}



{% block content %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="input-box underline">
            {{ form.username }}
            <div class="underline"></div>
        </div>
        
        <div class="input-box underline">
            {{ form.email }}
            <div class="underline"></div>
        </div>

        <div class="input-box underline">
            {{ form.password1 }}
            <div class="underline"></div>
        </div>

        <div class="input-box underline">
            {{ form.password2 }}
            <div class="underline"></div>
        </div>

        <div class="input-box button">
            <input type="submit" name="" value="Sign Up">
        </div>
    </form>

    {{ form.errors }}

    <div class="option"><a href="{% url 'login' %}" style="color: #757575;">Already have an account?</a></div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = "Enter Your Username";
        form_fields[2].placeholder = "Enter Your Email";
        form_fields[3].placeholder = "Enter Your Password";
        form_fields[4].placeholder = "Confirm Your Password";

        for (var field in form_fields){
            form_fields[field].className += 'form-control'
        }
    </script>


{% endblock %}
