{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center;">
        <h3 style="color: #fff; margin-bottom: 0.7rem;">Forgot Your Password?</h3>
        <p style="color: #fff9; margin-bottom: 1rem;">Enter your email, and you'll get instructions in your email for setting a new one.</p>
    </div>
    <form method="POST">
        {% csrf_token %}

        <div class="input-box underline">
            {{ form.email }}
            <div class="underline"></div>
        </div>

        <div class="input-box button">
            <input type="submit" name="Send Email" value="Send Email">
        </div>
    </form>

    <div class="option"><a href="{% url 'login' %}" style="color: #757575;">Wrong place? Go Back</a></div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = "Enter Your Email";
    </script>

{% endblock %}