<p>Hi {{user.get_username}},</p>
<p>We received a request for a password change on your {{ site_name }} account. You can reset your account 
    {% block reset_link %}
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">here.</a>
    {% endblock %}   
</p>


<p>This link will expire in 24 hours. After that, you'll need to submit a new request in order to reset your password. If you don't want to reset it, simply disregard this email.</p>
<p>(Please don't reply to this message; it's automated.)</p>

<p>Thanks,</p>

<p>{{ site_name }}</p>