{% extends 'base.html' %}
{% load static %}

{% block head_title %}
    Reset Password
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'site/css/login.css' %}">
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'site/css/password_reset.css' %}">

    <div style="text-align: center;">
        <h3 style="color: #fff; margin-bottom: 0.7rem;">Reset Your Password</h3>

        <form method="POST">
            {% csrf_token %}

            <div class="input-box underline">
                {{ form.new_password1 }}
                <div class="underline"></div>
            </div>

            <div class="input-box underline">
                {{ form.new_password2 }}
                <div class="underline"></div>
            </div>
            
            <div class="input-box button">
                <input type="submit" name="reset-pw" value="Reset">
            </div>
        </form>
    </div>

    {% if form.errors %}
        <div id="form-error" class="alert-info">
            {{ form.errors.as_text }}
        </div>
    {% endif %}

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = "Enter Your Password";
        form_fields[2].placeholder = "Confirm Your Password";
    </script>

{% endblock %}