{% extends 'base.html' %}

{% block head_title %}
    Reset Password
{% endblock %}

{% block content %}

    <div style="text-align: center;">
        <h3 style="color: #fff; margin-bottom: 0.7rem;">Password Reset Sent</h3>
        <p style="color: #fff9; margin-bottom: 1rem;">There are instructions in your email for setting a new password.</p>
        <p style="color: #fff9;">If you don't receive an email, make sure you entered the email you signed up with, and check your spam folder.</p>
    </div>

{% endblock %}