.container .alert-info {
    border: 1px solid #bd2f20; 
    margin: 10px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    color: #bd2f20;
    border-radius: 5px;
  }
  
  .container .alert-success {
    border: 1px solid #3C7E3F;
    margin: 10px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    color: #3C7E3F;
    border-radius: 5px;
  }