{% extends 'base.html' %}
{% load static %}


{% block head_title %}
    Register
{% endblock %}

{% block content %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="input-box underline">
            {{ form.username }}
        </div>
        
        <div class="input-box underline">
            {{ form.email }}
        </div>

        <div class="input-box underline">
            {{ form.password1 }}
            <a class="" id="toggle-password">
                <span class="password-icon hide" id="open-eye"><i class="fas fa-eye" style="color: #757575;"></i></span>
                <span class="password-icon" id="closed-eye"><i class="fas fa-eye-slash" style="color: #757575;"></i></span>
            </a>
        </div>

        <div class="input-box underline">
            {{ form.password2 }}
            <a class="" id="toggle-password">
                <span class="password-icon hide" id="open-eye"><i class="fas fa-eye" style="color: #757575;"></i></span>
                <span class="password-icon" id="closed-eye"><i class="fas fa-eye-slash" style="color: #757575;"></i></span>
            </a>
        </div>

        <div class="input-box button">
            <input type="submit" name="" value="Sign Up">
        </div>
    </form>

    {{ form.errors }}

    <div class="option"><a href="{% url 'login' %}" style="color: #757575;">Already have an account?</a></div>  

    {% block js %}
        <script src="{% static 'site/js/register.js' %}"></script>
        <script src="{% static 'site/js/passwordVisibility.js' %}"></script>
    {% endblock %}



{% endblock %}