{% extends 'base.html' %}
{% load static %}


{% block head_title %}
    Register
{% endblock %}

{% block content %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="input-box underline">
            {{ form.username }}
            <div class="underline"></div>
        </div>
        
        <div class="input-box underline">
            {{ form.email }}
            <div class="underline"></div>
        </div>

        <div class="input-box underline">
            {{ form.password1 }}
            <div class="underline"></div>
        </div>

        <div class="input-box underline">
            {{ form.password2 }}
            <div class="underline"></div>
        </div>

        <div class="input-box button">
            <input type="submit" name="" value="Sign Up">
        </div>
    </form>

    {{ form.errors }}

    <div class="option"><a href="{% url 'login' %}" style="color: #757575;">Already have an account?</a></div>  

    {% block js %}
        <script src="{% static 'site/js/register.js' %}"></script>
    {% endblock %}

{% endblock %}